<h1>Decorators</h1>
<div>
  <h2>Data in app.component</h2>
  <pre>{{ courses | json }}</pre>
</div>
<app-child [receiveMessage]="displayMessage" [showData]="courses"></app-child>

<h2>New inputs and outputs</h2>

<button (click)="addItem()">Add Item</button>

<app-input-output
  [items]="items"
  (itemDeleted)="onDeleteItem($event)"
></app-input-output>

<br />
<h3>ViewChild</h3>
<button (click)="incrChildCounter()">increase</button>

<h3>ContentChild</h3>
<app-content>
  <p #showParagraph>Lorem ipsum</p>
</app-content>

<h3>Host Binding</h3>
<p appHighlightElement>lorem ipsum</p>

<app-color-picker></app-color-picker>
