<div class="blog-details">
  @if (isLoading) {
  <div>
    <p>Loading blog details...</p>
  </div>
  } @if (hasError && !isLoading) {
  <div>
    <p>Blog not found or an error occurred while fetching data.</p>
  </div>
  } @if (!isLoading && blog) {
  <div>
    <div class="blog-content">
      <h2>{{ blog.title }}</h2>
      <p>{{ blog.body }}</p>
    </div>
    @if (comments.length > 0) {
    <div class="comments-section">
      <h3>Comments</h3>
      <ul>
        @for (comment of comments; track comment) {
        <li>
          <p>
            <strong>{{ comment.name }}</strong
            >: {{ comment.body }}
          </p>
        </li>
        }
      </ul>
    </div>
    }
  </div>
  }
</div>
